#find-input{
    padding: 5px 10px;
    outline: none;
    margin-right: 0px;

}
#btn-findd{
    padding: 6px 10px;
    margin-left: 0px;
    background-color: #0984e3;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 3px;
}
.modal-dialog{
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    z-index:100
}
.Modal{
    
    top: 100px;
}
#bg-black-over{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  rgba(88, 87, 88, 0.5);
}
.ds-none{
    display: none;
}
.btn-close{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 550;
}
@-webkit-keyframes Modal{
    0% {
        top: 0;
    }
    100%{
        top:100px
    }
}
.modal-body{
    display: flex;
}
.modal-body img{
    flex: 1;
}
.modal-body div{
    margin-top: 15px;
    flex: 1;
    font-size: 20px;
    font-weight: 550;
}
.spinner{
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 4px solid springgreen;
    border-right-color: transparent;
    animation: spinner 1s linear infinite;
    z-index: 9999999999;
    left: 50%;
    transform: translateX(-50%);
}
@-webkit-keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.active-page-item{
    background-color: rgb(138, 26, 190) !important;
    color: white !important;
}
.page-link{
    padding: 8px 16px !important    ;
}
h4{
    margin: 10px 0 ;
}
.box-shadow-thang{
    -webkit-box-shadow: 0px 0px 5px 3px rgba(161,245,180,0.2);
    -moz-box-shadow: 0px 0px 5px 3px rgba(161,245,180,0.2);
    box-shadow: 0px 0px 5px 3px rgba(161,245,180,0.2);
}

.menu-detail{
    display:none;
}
.modal-custom{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    border: 1px solid rgb(177, 175, 175);
    border-radius: 5px;
    z-index: 10;
    padding: 20px;
    background-color: white;
    top: 200px;
}
.btn-custom-modal{
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    margin:5px;
}