    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="/"><img class="main-logo" src="/img/logo/logo.jpg" alt="" /></a>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li>
                            <a  href="/">
								<span ><i class="bi bi-grid-1x2"></i></span>
								<span class="mini-click-non">Dashboard</span>
							</a>
                        </li>
                        <li>
                            <a  href="/user" aria-expanded="false"><span><i class="bi bi-person-workspace"></i></span> <span class="mini-click-non">User management</span></a>
                        </li>
                        <li>
                            <a  href="/order" aria-expanded="false"><span><i class="bi bi-device-ssd-fill"></i></span> <span class="mini-click-non">Order management</span></a>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span><i class="bi bi-bounding-box"></i></span> <span class="mini-click-non">Product</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="view" href="/category"><span class="mini-sub-pro">Category</span></a></li>
                                <li><a title="add" href="/product"><span class="mini-sub-pro">All product </span></a></li>
                                <li><a title="add" href="/product/add"><span class="mini-sub-pro">Add product </span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="all-courses.html" aria-expanded="false"><span><i class="bi bi-arrow-up-right-square-fill"></i></span> <span class="mini-click-non">Sales</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="All Courses" href="/analysic/product"><span class="mini-sub-pro">Analysics Product</span></a></li>
                                <li><a title="All Courses" href="/analysic/sale/week"><span class="mini-sub-pro">Analysics Sale Week</span></a></li>
                                <li><a title="All Courses" href="/analysic/sale/month"><span class="mini-sub-pro">Analysics Sale Month</span></a></li>
                                <li><a title="All Courses" href="/analysic"><span class="mini-sub-pro">Analysics</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span><i class="bi bi-person-plus-fill"></i></span> <span class="mini-click-non">Admin</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li> <i class="bi bi-person-plus"></i><a title="view" href="/admin"><span class="mini-sub-pro">All admin</span></a></li>
                                <li><a title="add" href="/admin/add"><span class="mini-sub-pro">Add admin</span></a></li>
                            </ul>
                        </li>
                      
                    </ul>
                </nav>
            </div>
        </nav>
    </div>

    <div class="all-content-wrapper">
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
													<i class="bi bi-fullscreen"></i>
												</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item dropdown">
                                                    
                                                    <div role="menu" class="author-message-top dropdown-menu animated zoomIn">
                                                    </div>
                                                </li> 
                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
															<img src={{user.avatarUrl}} alt="" />
															<span class="admin-name">{{user.name}}</span>
															<i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
														</a>
                                                    <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                        
                                                        <li><a href="/admin/{{user._id}}"><span class="edu-icon edu-user-rounded author-log-ic"></span>My Profile</a>
                                                        </li>
                                                        <li><a href="/admin/edit/{{user._id}}"><span class="edu-icon edu-settings author-log-ic"></span>Settings</a>
                                                        </li>
                                                        <li><a href="/logout"><span class="edu-icon edu-locked author-log-ic"></span>Log Out</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                               
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{{!-- Mobile menu --}}
 <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav">
                                        <li><a href="/">Dashboard</a></li>
                                        <li><a href="/user">User</a></li>
                                        <li><a href="/order">Order</a></li>
                                        <li><a data-toggle="collapse" data-target="#demoevent" href="#">Product <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demoevent" class="collapse dropdown-header-top">
                                                <li><a href="/category">Category</a>
                                                </li>
                                                <li><a href="/product">All product</a>
                                                </li>
                                                <li><a href="/product/add">Add product</a>
                                                </li>
                                                <li><a href="professor-profile.html">Professor Profile</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="/analytics">Analytics</a></li>
                                        <li><a data-toggle="collapse" data-target="#democrou" href="#">Admin <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="democrou" class="collapse dropdown-header-top">
                                                <li><a href="/admin">All admin</a>
                                                </li>
                                                <li><a href="/admin/add">Add admin</a>
                                                </li>
                                            </ul>
                                        </li>
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


           
        