<div class="breadcome-area">
    <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li style="font-size: 18px;"><a href="/product" style="color: rgb(68, 68, 228);">Admin</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li style="font-size: 18px;"><span class="bread-blod">Add Admin</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
</div> 
    
        <!-- Single pro tab review Start-->
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a href="#description">Add New Admin</a></li>
                        <!-- <li><a href="#reviews"> Product Information</a></li>-->
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade active in" id="description">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div id="dropzone1" class="pro-ad addcoursepro">
                                            <form class="dropzone dropzone-custom needsclick addcourse" id="demo1-upload" method="post" enctype="multipart/form-data" >
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <input name="username" type="text" class="form-control" placeholder="User Name" required="true">
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            <input name="name" type="text" class="form-control" placeholder="Name" required>
                                                        </div>
                                                        <div class="form-group">
                                                          
                                                            <input name="password" type="text" class="form-control" placeholder="Password" required="true" >
                                                        </div>
                                                        <div class="form-group">
                                                            <input name="gmail" type="text" class="form-control" placeholder="Gmail">
                                                        </div>
                                                       
                                                        <div class="form-group" style="margin:0;">
                                                            <label for="" style="margin-left:10px;margin-right: 10px; width: 100px;"></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12" style="margin-left: 30px;">

                                                        <div class="form-group alert-up-pd" style="margin-top: 100px;">
                                                           
                                                            <div class="dz-message needsclick download-custom" style="position: relative; cursor: pointer;" id="area-image">
                                                                <div style="border:1px solid #666;padding: 10px;margin-bottom: 10px;border-radius:10px">
                                                                    <label>Avatar Image</label>
                                                                    <input type="file" name="image">
                                                                    <img src="" alt="" style="width: 100px; height: auto; margin-top:20px">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <img src="" alt="" id="avatar-image" style="margin-bottom: 20px;">
                                                        <div class="col-sm-12">
                                                            <div class="preview-images"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="payment-adress">
                                                            <!--<a href="#reviews" id="btn-next" class="btn-primary" style="padding: 10px 15px ;margin-left: 20px;"> Next</a>-->
                                                            <button type="submit" class="btn-primary" style="padding: 15px 25px; border: none;border-radius: 10px;">SUBMIT</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded',()=>{
        var count=0;
        var element =document.querySelector('input[name="image"]')
        const avatarImage=document.querySelector('#avatar-image')


            document.querySelector('#area-image input').addEventListener('change',(e)=>{
                console.log('first')
                if(e.target.files[0].type.split('/')[0]=='image'){
                    document.querySelector(`#area-image img`).src= URL.createObjectURL(e.target.files[0]);
                }
            })

        
    })
</script>

