<div class="charts-area mg-b-15" >
    <div class="container-fluid">
        <div class="row" style="margin-top: 100px;">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="charts-single-pro responsive-mg-b-30">
                    <div class="alert-title">
                        <h1>Statistis Sale Week</h1>
                        <p>The chart below shows product sales by week</p>
                    </div>
                    <div id="basic-chart">
                        <canvas id="basiclinechart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h3 style="text-align: center;margin-bottom: 15px;">Today</h3>
                <div  class="white-box analytics-info-cs mg-b-10 res-mg-b-30 res-mg-t-30 table-mg-t-pro-n tb-sm-res-d-n dk-res-t-d-n">
                    <h3 class="box-title">Total Income</h3>
                    <ul class="list-inline two-part-sp">
                        <li>
                            <div id="sparklinedash"></div>
                        </li>
                        <li class="text-right sp-cn-r"><i class="fa fa-level-up" aria-hidden="true"></i> <span class="counter text-success">{{totalIncome}}</span></li>
                    </ul>
                </div>
                <div  class="white-box analytics-info-cs mg-b-10 res-mg-b-30 tb-sm-res-d-n dk-res-t-d-n">
                    <h3 class="box-title">Total Order</h3>
                    <ul class="list-inline two-part-sp">
                        <li>
                            <div id="sparklinedash2"></div>
                        </li>
                        <li class="text-right graph-two-ctn"><i class="fa fa-level-up" aria-hidden="true"></i> <span class="counter text-purple">{{totalOrder}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display: none;" id="data">{{data}}</div>
<script>
    document.addEventListener('DOMContentLoaded',()=>{
        let data=JSON.parse(document.querySelector('#data').innerText)
        console.log(data)
        var ctx = document.getElementById("basiclinechart");
        var basiclinechart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Sunday", "Monday", "Tuesday", "Webnesday", "Thurday", "Friday", "Saturday"],
                datasets: [{
                    label: "currency: $ ",
                    fill: false,
                    backgroundColor: '#006DF0',
                    borderColor: '#006DF0',
                    data: data
                }, 
                ]
            },
        });
    })
    
</script>