
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="breadcome-heading" style="display: flex;">
                                <li class="nav-item" style="list-style-type: none; padding: 12px;font-size: 16px;"><a href="/order" class="nav-link">All order</a>
                                </li>
                                <li class="nav-item" style="list-style-type: none; padding: 12px;font-size: 16px;"><a href="/order/waiting" class="nav-link">Waiting for progressing</a>
                                </li>
                                <li class="nav-item" style="list-style-type: none; padding: 12px;font-size: 16px;"><a href="/order/processed" class="nav-link">Processed</a>
                                </li>
                                
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <ul class="breadcome-menu">
                                <li><a href="/category" style="color: rgb(59, 33, 231);">Category</a> <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod">View</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap" style="position: relative;">
                    <h4 style="color: royalblue;">
                    </h4>
                    
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="breadcome-heading" style="margin-top: 20px;">
                            <form role="search" class="sr-input-func" >
                                
                            </form>
                        </div>
                    </div>
                    <div class="add-product" >
                    </div>
                    <div class="asset-inner">
                        <table>
                            <tr>
                                <th>No</th>
                                <th>Code order</th>
                                <th>Status</th>
                                <th>Discount</th>
                                <th>Total</th>
                                <th>Sent date</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Process</th>
                            </tr>
                            {{#each allCategory}}
                            <tr>
                                <td style="color:blue;">{{tittle}}<i id="print-detail" class="bi bi-caret-down" style="cursor: pointer;"></i></td>
                               
                            </tr>
                            
                            {{/each}} 
                            
                           </table>
                    </div>
                    <!-- <div class="custom-pagination">
                        <span style="display: none;" id="quantityy">{{quantityCategory}}</span>
                        <ul class="pagination" style="margin-top:15px">
                            <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bg-black-over" class="ds-none"></div>
<div class="modal-dialog ds-none" >
    <div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="staticBackdropLabel" style="color: red;">Delete Product</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
    </div>
    <div class="modal-body" style="display: flex;">
        <div style="display: none;" id="_id"></div>
        <img src="" alt="" width="200px">
        <div></div>
    </div>
    <div class="modal-footer" style="position: relative;">
        <div class="spinner ds-none">
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cancel</button>
        <button type="button" class="btn btn-danger" style="margin-right: 20px;margin-left: 10px;position: relative;">
            Delete
        </button>
    </div>
    </div> -->
    <!-- <div style="display: none;" id="currentPage-hb">{{currentPage}}</div> -->
</div>
<!-- <script> 
    
    let btnAccept=document.querySelectorAll('.btnAccept')
    let printDetail=document.querySelectorAll('#print-detail')
    let detailOrder=document.querySelectorAll('.detail-order')
    let closeDetail=document.querySelectorAll('.close-detail')
    printDetail.forEach((item,index)=>{
        item.addEventListener('click',(e)=>{
            detailOrder[index].style.display="block"

        })
    })

    closeDetail.forEach((item,index)=>{
        item.addEventListener('click',(e)=>{
            detailOrder[index].style.display="none"
        })
    })

    
    btnAccept.forEach((item,index)=>{
        item.addEventListener('click',(e)=>{
            console.log(index)
            fetch(`http://localhost:5000/order/accept/${item.dataset.id}`)
            .then(res=>res.json())
            .then(res=>{
                console.log(res)
                if(res.success)
                {
                    e.target.remove()
                    document.querySelectorAll('.uncomplete')[index].style.backgroundColor ="#006DF0";
                    document.querySelectorAll('.uncomplete')[index].innerText="Processed"
                }
            })
        })
    })

    const paginaEl=document.querySelector('.pagination')
    const currentPage=parseInt(document.querySelector('#currentPage-hb').innerText)
    const quantityy=parseInt(document.querySelector('#quantityy').innerText)
    console.log(quantityy)
    let htmlPagi=`<li class="page-item"><a class="page-link" href="?page=${currentPage===1?1:currentPage-1}"> <i class="bi bi-caret-left-fill"></i> </a></li>`
    
    for(let i=1;i<=quantityy;i++){
        htmlPagi+=`<li class="page-item"><a class="page-link ${i==currentPage?'active-page-item':''}" href="?page=${i}">${i}</a></li>`
    }
    htmlPagi+=`<li class="page-item"><a class="page-link" href="?page=${currentPage===quantityy?quantityy:currentPage+1}"> <i class="bi bi-caret-right-fill"></i> </a></li>`
    paginaEl.innerHTML=htmlPagi
</script> -->