<div class="breadcome-area">
    <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li style="font-size: 18px;"><a href="/product" style="color: rgb(68, 68, 228);">Admin</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li style="font-size: 18px;"><span class="bread-blod">Edit admin</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
</div> 
    
        <!-- Single pro tab review Start-->
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <ul style="">
                        <li class="active" style="float: left; font-size:25px; font-weight:bold; padding:20px;"><a href="/admin/edit/{{user._id}}">Profile</a></li>
                        <li><a href="/admin/password/{{user._id}}"  style="float: left;font-size:25px; font-weight:bold;padding:20px;">Password</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade active in" id="profile">
                            <div class="row" >
                                <div class="review-content-section">
                                    <div id="dropzone1" class="pro-ad addcoursepro">
                                        <form class="dropzone dropzone-custom needsclick addcourse" id="demo1-upload" method="post" >
                                            <div class="row" style="margin-top: 70px; margin-left:auto; margin-right:0;">
                                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                                    
                                                    <div class="form-group">
                                                        <label for="">Old Password </label>
                                                        <input name="oldPassword" type="password" class="form-control" placeholder="Password" required="true" >
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">New Password </label>
                                                        <input name="newPassword" type="password" class="form-control" placeholder="Password" required="true" >
                                                        
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Retype Password </label>
                                                        <input name="retypePassword" type="password" id="retype" class="form-control" placeholder="Password" required="true" >
                                                        <span class="info-err" style="color: red;"></span>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="payment-adress">
                                                        <!--<a href="#reviews" id="btn-next" class="btn-primary" style="padding: 10px 15px ;margin-left: 20px;"> Next</a>-->
                                                        <button type="submit" id="type-pass" class="btn-primary" style="padding: 15px 25px; border: none;border-radius: 10px;">SUBMIT</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded',()=>{
        

        const retype=document.querySelector('#retype')
        retype.addEventListener('input',(e)=>{
            let password=document.querySelector('input[name="newPassword"]').value
            if(e.target.value!==password){
                document.querySelector('.info-err').innerText="Don't match with new password"
                document.querySelector('#type-pass').addEventListener('click',preventSubmit)
            }
            else{
                document.querySelector('.info-err').innerText=''
                document.querySelector('#type-pass').removeEventListener('click',preventSubmit)
            }
        })
        function preventSubmit(e){
            e.preventDefault()
            return
        }
    })
</script>

