


<div class="card" style="width: 9rem; margin-left: 20px;">
    <img src={{src}} class="card-img-top" alt="">
    <div class="card-body">
        <p class="card-text">SuccessFull Add Product</p>
    </div>
    <a href="/product/add">Go back to Add Product</a>
</div>