
<div class="breadcome-area">
    <div class="row">
        <img src="{{product.imagesUrl}}" alt="" width="200px" height="auto">    
        <h3>{{product.name}}</h3>
        <p>{{product.pricePromotion}}</p>

    </div>
    
</div>