


<div  style="margin: 20px;padding: 20px;">
    {{#each src}}
    <img src={{this}} class="card-img-top" alt="">
    {{/each}}
    <div class="card-body">
        <p class="card-text">SuccessFull Add Product</p>
    </div>
    <a href="/product/add">Go back to Add Product</a>
</div>