<div class="breadcome-area">
     <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                             <ul class="breadcome-menu">
                                <li><a href="/">Home</a> <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod">User management</span>
                                </li>
                            </ul>
                         </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
 </div>


<div class="contacts-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    {{#each allUser}}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="flex-wrap: wrap;">
                        <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30">
                            <div class="panel-body custom-panel-jw">
                                <img alt="logo" class="img-circle m-b" style="width: 70%; text-align:30px;" src="https://the-1-beauty-fashion.herokuapp.com/{{this.avatarUrl}}">
                                <h3>{{this.name}}</h3>
                                <br>
                                <p>
                                    <i class="bi bi-envelope-fill"></i> Email: <a href="mailto:mail@mail.com">{{this.gmail}}</a><br>
                                    <i class="bi bi-house-fill"></i>Address: {{this.address}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>
</div>